@model IEnumerable<prjOrderDrink.Models.tProduct>

@{
    ViewBag.Title = "飲品列表";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="~/Images/@item.fImg" style="width:30%">
                <div class="caption">
                    <h2>@item.fName</h2>
                    <p>單價：@item.fPrice</p>
                    @if (Session["Member"] == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        <p><a href="@Url.Action("AddCar")?fPId=@item.fPId" class="btn btn-primary">購買</a></p>
                    }
                </div>
            </div>
        </div>
    }
</div>